<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.vorburger.ch/el/EL" 
       class = "ch.vorburger.el.eL.ELPackage"
       genModel = "ch/vorburger/el/EL.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.emf.ecore.protocol_parser">
     <parser
           class="org.eclipse.xtext.resource.XtextResourceFactory"
           protocolName="dynecore">
     </parser>
  </extension>





</plugin>
